* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    background: white;
}

span, p, button {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

span {
    text-transform: uppercase;
    letter-spacing: 6px;
}

h1, h2, h3 {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.attribution { 
    display: none;
}

@media (min-width: 431px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 800px;
        max-height: 600px;
        border-radius: 1rem;
        box-sizing: border-box;
    }
    main > .imagem-desktop {
        grid-column: 1 / 1;
        grid-row: 1 / 6;
        border-radius: 1rem 0 0 1rem;
    }
    main > img {
        width: 400px;
    }
    main > .imagem-mobile {
        display: none;
    }
    main > *:not(:first-child):not(.imagem-desktop):not(.imagem-mobile) {
        grid-column: 2 / 2; /* Todos os outros elementos ocupam a segunda 
        coluna */
        grid-template-rows: 1 / 6;
        display: flex;
        margin: 2rem;
    }
    main > button {
        color: white;
        border: none;
        background: hsl(158, 36%, 37%);
        padding: 1rem;
        border-radius: 1rem;
    }
}

@media (max-width: 430px) {
    .imagem-desktop {
        display: none;
    }
    main {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
        border-radius: 1rem;
    }
    main > :first-child {
        border-radius: 1rem 1rem 0 0;
    }
    main > *:not(:first-child) {
        margin: 1.5rem;
    }
    main > .titulo {
        margin-bottom: 0.25rem;
    }
    main > .produto {
        margin: 0 1.5rem;
        margin-bottom: 1.5rem;
        text-decoration: solid;
    }
    main > .descricao {
        margin: 0px 1.5rem;
        margin-bottom: 1.5rem;
    }
    main > .precos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: hsl(158, 36%, 37%);
        letter-spacing: 2px;
        margin: 0 1.5rem;
        font-size: 22px;
    }
    main > .precos > *:not(:first-child){
        text-decoration: line-through;
        font-family: "Montserrat", sans-serif;
        color: black;
        font-weight: normal;
        font-size: 0.8rem;
        padding-top: 0.4rem;
    }
    main > button {
        padding: 1rem;
        border-radius: 1rem;
        border: 0px;
        background: hsl(158, 36%, 37%);
        color: white;
        font-weight: bold;
        line-height: 16px;
    }
}